{% extends 'base.html.twig' %}

{% block title %} CS Training {% endblock %}

{% block body %}
    <div class="container">
        <div class="d-grid gap-2 mt-3 mb-3">
            <p class="btn btn-primary">Список доступных аккаунтов</p>
        </div>
        <br>

        <div class="list-group">
            {% for player in players %}
                <a  style="text-align: center; font-size: 20px;" href="{{ path('faceit.dashboard', {'nickname': player.nickname}) }}" class="list-group-item list-group-item-action">
                    <span style="font-weight: bold;">{{ player.nickname }}</span> | Level: {{ player.skill.level }} | ELO: {{ player.skill.elo }}
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}